<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<a href="http://localhost:8008/register">Register</a>
</br>
<a href="http://localhost:8008/login">Login</a>

</body>
</html>